{% load static %}
{% load i18n %}
<!doctype html>
<html class="no-js" lang="zxx">
    
<!-- wishlist31:27-->
{% include 'layouts/head.html' %}
    <body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
            <!-- Begin Header Area -->
            {% include 'layouts/header-base.html' %}
            <!-- Header Area End Here -->
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="{% url 'pages:home' %}">{% trans 'Home' %}</a></li>
                            <li class="active">{% trans 'Wishlist' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!--Wishlist Area Strat-->
            <div class="wishlist-area pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form action="#">
                                <div class="table-content table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="li-product-remove">{% trans 'remove' %}</th>
                                                <th class="li-product-thumbnail">{% trans 'Images' %}</th>
                                                <th class="cart-product-name">{% trans 'Product' %}</th>
                                                <th class="li-product-price">{% trans 'Price' %}</th>
                                                <th class="li-product-stock-status">{% trans 'Stock Status' %}</th>
                                                <th class="li-product-add-cart">{% trans 'Add to cart' %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for prod in products %}
                                            <tr>
                                                <td class="li-product-remove"><a href="{% url 'products:add_or_remov' pk=prod.id %}?next={{request.get_full_path|urlencode}}"><i class="fa fa-times"></i></a></td>
                                                <td class="li-product-thumbnail"><a href="{% url 'products:list' %}"><img src="{{ prod.image.url }}" alt=""></a></td>
                                                <td class="li-product-name"><a href="{% url 'products:list' %}">{{ prod.title }}</a></td>
                                                <td class="li-product-price"><span class="amount">{% if prod.is_discount %}
                                                                        <span style="color:#14EF31;" class="price">${{ prod.get_price }} - </span>
                                                                        <strike style="color:red;">{{ prod.price }}</strike>
                                                                    {% else %}
                                                                        <span class="price" style="color: #B714EF">{% trans 'No discount' %} - ${{ prod.price }}</span>
                                                                    {% endif %} x {{ prod.count }}</span></td>
                                                {% if prod.is_available %}
                                                    <td class="li-product-stock-status"><span class="in-stock" style="color:#0DFF02;">{% trans 'In stock' %}</span></td>
                                                {% else %}
                                                    <td class="li-product-stock-status"><span class="in-stock" style="color:red;">{% trans 'Not in stock' %}</span></td>
                                                {% endif %}
                                                <td class="li-product-add-cart"><a href="{% url 'products:add_or_remove' pk=prod.id %}?next={{request.get_full_path|urlencode}}">{% trans 'add to cart' %}</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Wishlist Area End-->
            <!-- Begin Footer Area -->
            {% include 'layouts/footer.html' %}

            <!-- Footer Area End Here -->
            <!-- Begin Modal Area -->
            <!-- Modal Area End Here -->
        </div>
        <!-- Body Wrapper End Here -->
        <!-- jQuery-V1.12.4 -->
        {% include 'layouts/script.html' %}
    </body>

<!-- wishlist31:30-->
</html>
